.header-container {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
}

.logo-img {
    width: 200px;
}

.navlink {
    text-decoration: none;
    margin-left: 16px;
    color: black;
    font-size: 16px;
}

.navlink:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 7px;
    text-decoration-color: #008000;
    color: #008000;
}

.button {
    border-style: none;
}

.d_none {
    display: none;
}

.menu-vertical {
    display: none;
}

#menu {
    margin-bottom: 6px;
    display: flex;


}



@media (max-width: 1920px) {
    header button {
        display: none;
    }

}

@media (max-width: 800px) {
    #menu {
        display: none;
    }

    .d_none {
        display: none;
    }

    .hamburger {
        display: flex;
        flex-direction: column;
        width: 50px;
        height: 50px;
        padding-left: 10px;
        padding: 0;
        padding-left: 9px;
        padding-top: 10px;       
        padding-right: 10px;
    }

    .burger_line {
        height: 4px;
        background-color: black;
        width: 32px;
        display: flex;
        margin-top: 4px;
    }

    .menu-vertical {
        background-color: #00800033;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 20px;
        padding-right: 60px;

    }

    .d_none {
        display: none;
    }

    .navlink:hover {
        text-decoration-thickness: 2px;
        text-underline-offset: 3px;
    }
    .nav-vertical-menu-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }




}

/* Sektion mein Rezept */
.img-section {
    padding-bottom: 50px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    margin-top: 110px;
}

.img-section img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
}

.preparation {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    padding-bottom: 20px;
}

.prep-time {
    background-image: url(/img/icons/clock-regular.svg);
    background-color: #efefef;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position: left;
    background-size: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 25px;
    padding-right: 10px;
}

.kcal {
    background-image: url(/img/icons/brain-solid.svg);
    background-color: #efefef;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position: left;
    background-size: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 25px;
    padding-right: 10px;
}

.date {
    background-image: url(/img/icons/calendar-alt-regular.svg);
    background-color: #efefef;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position: left;
    background-size: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 25px;
    padding-right: 10px;
}

list-ingridients {
    margin-top: 50px;
    margin-bottom: 50px;
}

.grey {
    background-color: #efefef;
    padding: 18px;
    border-radius: 8px;
}

.white {
    padding: 18px;
}

.container-recipe {
    padding: 50px;
}

.zubereitung-section {
    margin-bottom: 50px;
}

.zubereitung-section h2 {
    font-size: 24px;
    font-weight: 600;
}

.zubereitung-section p {
    margin: 0px;
}

.zubereitung-informationen {
    margin-bottom: 30px;
}

.contact-section {
    padding-top: 24px;
    padding-bottom: 80px;
}

.contact-section-info {
    display: flex;
    align-items: center;
    gap: 20px;
}

.contact-section img {
    width: 100px;
    border-radius: 50%;
}

.contact-section span {
    font-size: 16px;
    font-weight: 600;
}

.contact-section h3 {

    font-size: 16px;
}

#ingridients {
    padding: 0;
}

/* Footer */
footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #efefef;
    height: 100px;
    margin-top: 80px;

}

.footer-img {
    width: 250px;
    height: auto;
    margin-left: 100px;

}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 32px;
    margin-right: 100px;

}

.social-icons a img {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
}

.separator {
    background-color: #050605;
    width: 1px;
    height: 30px;
    margin-right: 10px;
}

.footer-links {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

@media (max-width: 915px) {
    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 200px;
    }

    .separator {
        display: none;
    }

    .footer-img {
        width: 150px;
        margin-left: 0;
    }

    .social-icons {
        margin-right: 0;
        margin-top: 20px;
    }

    .footer-links {
        margin-top: 10px;
    }


}