.header-container {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
}

.logo-img {
    width: 200px;
}

.navlink {
    text-decoration: none;
    margin-left: 16px;
    color: black;
    font-size: 16px;
}

.navlink:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 7px;
    text-decoration-color: #008000;
    color: #008000;
}

.burger_line {
    height: 20px;
    background-color: black;
    width: 32px;
    display: flex;
    margin-top: 4px;
}

.button {
    border-style: none;
}



#menu {
    margin-bottom: 6px;
}



@media (max-width: 1920px) {
    button {
        display: none;
    }
}

@media (max-width: 680px) {
    #menu {
        display: none;
    }



    .hamburger {
        display: flex;
        flex-direction: column;
        width: 50px;
        height: 50px;
        padding-left: 10px;
    }
}

/* Sektion mein Rezept */
.img-section img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
    
}